@using DotnetViewComponents.ViewModels
@model InsetTextViewModel

<div class="nhsuk-inset-text">
    <span class="nhsuk-u-visually-hidden">Information: </span>
	<p>@Html.Raw(Model.ContentHtml)</p>
</div>
